<div class="container">
  <div class="card-deck">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/seo_quiz_banner.jpg" alt="SEO Quiz image cap"></mdb-card-img>
        <a href="https://seopressor.com/seo-quiz">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>SEO Quiz</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Jquery
        </mdb-card-text>

        <a href="https://seopressor.com/seo-quiz" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/nyheadline_cropped.jpg" alt="nyheadline image cap"></mdb-card-img>
        <a href="https://nyheadline.com">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>NYheadline</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Built with Angular + Firebase
        </mdb-card-text>

        <a href="https://nyheadline.com" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/utn.jpg" alt="Threadify ng image cap"></mdb-card-img>
        <a href="https://utn.netlify.com">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Utn</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Frontend: Angular<br>
          Backend: Half with PHP, and another half with Nodejs Express
        </mdb-card-text>

        <a href="https://utn.netlify.com" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="card-deck mt-5">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/1498x1080.jpg" alt="Threadify ng image cap"></mdb-card-img>
        <a href="https://benjaminlooi.github.io/threadify-ng">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Threadify-ng</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Built with Angular + Firebase
        </mdb-card-text>

        <a href="https://benjaminlooi.github.io/threadify-ng" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/1498x1080.jpg" alt="Facemash image cap"></mdb-card-img>
        <a href="https://facemash-vue.herokuapp.com/">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Facemash</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Democracy at it's peak.<br>
          Vote for the hottest lecturer!<br>
          Made with vue + vuetify
        </mdb-card-text>

        <a href="https://facemash-vue.herokuapp.com/" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/prs.jpg" alt="Pet Registration System image cap"></mdb-card-img>
        <a href="http://bensanity.epizy.com/prs">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Pet Registration System</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Web Prog. Class Assignment<br>
          PHP + MySQL
        </mdb-card-text>

        <a href="http://bensanity.epizy.com/prs" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="card-deck mt-5">

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/1498x1080.jpg" alt="threadify image cap"></mdb-card-img>
        <a href="http://bensanity.epizy.com/threadify">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Threadify</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Built with PHP and mySQL
        </mdb-card-text>

        <a href="http://bensanity.epizy.com/threadify" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/r-jerome.jpg" alt="jerome image cap"></mdb-card-img>
        <a href="https://r-jerome.netlify.com/">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Rayymond Jerome's Portfolio</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Front end: vuejs<br>
          firebase
        </mdb-card-text>

        <a href="https://r-jerome.netlify.com/" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/story-of-ray.jpg" alt="The story of ray image cap"></mdb-card-img>
        <a href="https://benjaminlooi.github.io/the-journey-of-ray-ori/">
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>The story of ray</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          System Administration Class Assignment<br>
          HTML
        </mdb-card-text>

        <a href="https://benjaminlooi.github.io/the-journey-of-ray-ori/" mdbBtn color="primary" mdbWavesEffect>Link</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
