<div class="container">
  
  
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/seo_quiz_banner.png"></mdb-card-img>
      <a href="https://seopressor.com/seo-quiz">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
  
      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>SEO Quiz</strong>
        </h4>
      </mdb-card-title>
  
      <h5 class="indigo-text">
        <strong>Dope</strong>
      </h5>
  
      <mdb-card-text>
        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam.
      </mdb-card-text>
  
      <!--Linkedin-->
      <a class="icons-sm li-ic">
        <i class="fab fa-linkedin-in px-2"> </i>
      </a>
      <!--Twitter-->
      <a class="icons-sm tw-ic">
        <i class="fab fa-twitter px-2"> </i>
      </a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic">
        <i class="fab fa-facebook-f px-2"> </i>
      </a>
    </mdb-card-body>
  
  </mdb-card>
  
</div>