<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card>

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <!--Title-->
          <h4 class="card-title">
            <strong>Benjamin Looi</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>Web App Developer</strong>
          </h5>

          <!--Linkedin-->
          <a class="px-2 icons-sm li-ic">
            <mdb-icon fab icon="linkedin-in"> </mdb-icon>
          </a>
          <!--Twitter-->
          <a class="px-2 icons-sm tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!--Dribbble-->
          <a class="px-2 icons-sm fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
</div>
