<div *ngIf="projectData.length" class="container">
  <ng-container *ngFor="let project_deck of numbers; let deckIndex = index">
    <div [ngClass]="{'mt-5': deckIndex > 0, 'card-deck': true}">
      <ng-container *ngFor="let card of [1,2,3]; let cardIndex = index;">
        <mdb-card *ngIf="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)]">
          <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img [src]="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].imageSrc ? projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].imageSrc : 'assets/1498x1080.jpg'" [alt]="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].imageAlt ? projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].imageAlt : 'image cap'"></mdb-card-img>
            <a [href]="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].projectLink">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].projectTitle}}</h4>
            </mdb-card-title>

            <mdb-card-text>
              <span [innerHTML]="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].projectDesc"></span>
            </mdb-card-text>

            <a [href]="projectData[((deckIndex * 3) + (cardIndex + 1) - 1)].projectLink" mdbBtn color="primary" mdbWavesEffect>Link</a>
          </mdb-card-body>
        </mdb-card>
      </ng-container>
    </div>
  </ng-container>
</div>
