@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');

.not-found-text {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 240px;
  letter-spacing: 1px;
  line-height: 100px;
  margin-bottom: 16px;
}

.not-found-text small{
  padding-left: 16px;
}